{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}miR.Gut Database{% endblock %}
{% block page_content %}
<head>
  <link rel="stylesheet" href="static/style.css">
  <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/2.3.15/cytoscape.js"></script>
  <style>
      body{
          background-color: rgba(33, 124, 45, 0.166);
      }
      h1{
          font-weight: bold;
          font-size: 50px;
      }
      .parent {
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .child {
        width: 70%;
        height: 300px;
        font-size: 30px;
        background-color: rgba(33, 124, 45, 0.058);
      }
  </style>
</head>
<body>
  <div class="parent">
      <div class="child">
        <div>
        <h1> Welcome to the miR.Gut Database </h1>
        <h3> Advanced Bioinformatics Final Project </h3>
        <p> By James Martinez </p>
        {{ wtf.quick_form(form2) }}
        </div>
      </div>
  </div>
</body>

{% endblock %}

