{% extends "base.html" %}
  
{% block title %}Visualizing Interactions{% endblock %}

{% block page_content %}

<head>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/2.3.15/cytoscape.js"></script>
    <style>
        .parent {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .child {
            width: 60%;
            font-size: 10px;
            background-color: rgba(33, 124, 45, 0.058);
        }
        .parent1 {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .child1 {
            width: 60%;
            font-size: 10px;
            background-color: rgba(33, 124, 45, 0.058);
        }

    </style>
    <script type="text/javascript">
		$(function() {
			var cy = cytoscape({
				container: document.getElementById('cy'),
				style: [
					{
						selector: 'node',
						css: {
							width: 80,
							height: 70,
                            shape: 'hexagon',
							'background-color':'#3AE37A',
							content: 'data(id)',
                            'border-color': 'green'
						}
					},
                    {
                        selector: 'edge',
                        css: {
                            width: 8,
                            shape: 'hexagon',
							'color':'#61bffc',
                        }
                    }
				],
				elements: {
					nodes: [
                        { data: { id: 'hsa-mir-26b', href: 'https://www.mirbase.org/cgi-bin/mirna_entry.pl?acc=hsa-mir-26b'} },
                        { data: { id: 'Bifidobacterium bifidum', href:'https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=1681'} },
                        { data: { id: 'schizophrenia'}},
                        { data: { id: 'prostate cancer'}},
                        { data: { id: 'pituitary adenoma'}},
                        { data: { id: 'Oral Squamous Cell Carcinoma (OSCC)'}},
                        { data: { id: 'epithelial ovarian cancer (EOC)'}},
                        { data: { id: 'cardiac hypertrophy'}},
                        { data: { id: 'bladder cancer'}},
                        { data: { id: 'hepatocellular carcinoma (HCC)'}}
                        
				    ],
				  edges: [
                      { data: { id:'1', source: 'Bifidobacterium bifidum', target: 'hsa-mir-26b' } },
                      { data: { id:'2', source: 'schizophrenia', target: 'hsa-mir-26b' } },
                      { data: { id:'3', source: 'prostate cancer', target: 'hsa-mir-26b' } },
                      { data: { id:'4', source: 'pituitary adenoma', target: 'hsa-mir-26b' } },
                      { data: { id:'5', source: 'Oral Squamous Cell Carcinoma (OSCC)', target: 'hsa-mir-26b' } },
                      { data: { id:'6', source: 'epithelial ovarian cancer (EOC)', target: 'hsa-mir-26b' } },
                      { data: { id:'7', source: 'cardiac hypertrophy', target: 'hsa-mir-26b' } },
                      { data: { id:'8', source: 'bladder cancer', target: 'hsa-mir-26b' } },
                      { data: { id:'8', source: 'hepatocellular carcinoma (HCC)', target: 'hsa-mir-26b' } }
				    ]
				},
				layout: {
				    name: 'cose',
				    directed: true,
				    padding: 10,
				   /* color: "#ffff00",*/
				    fit: true
				}
			});

            cy.on('tap', 'node', function(){
                try { // your browser may block popups
                    window.open( this.data('href') );
                } catch(e){ // fall back on url change
                    window.location.href = this.data('href');
                }
		    });
    });
		
	</script>
</head>

<body>
    <div class="parent">
        <div class="child">
            <h2>Currently Known Microbiota/MicroRNA Interactions</h2>
            <p>
                CytoScape.JS is used to generate visualizations of the databases interaction data.<br>
                The dynamic display could be dragged, zoomed in, and clicked.<br>
                Each node link out to the NCBI Taxonomy or miRBase databases for information expansion.
            </p>
            
        </div>
    </div>
<div id="cy"></div>
    
</body>
{% endblock %}        

         